<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>Senac.TadesGames.Servlet.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ClienteControllerServlet</servlet-name>
        <servlet-class>Senac.TadesGames.Servlet.ClienteControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClienteControllerServlet</servlet-name>
        <url-pattern>/Clientes/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UsuarioControllerServlet</servlet-name>
        <servlet-class>Senac.TadesGames.Servlet.UsuarioControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuarioControllerServlet</servlet-name>
        <url-pattern>/Usuarios/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
